.margin{
  margin-bottom: 30px;
}

.musicLargefont {
  font-size: 16px;
}

.musicLargefont.price {
  float: right;
  margin-right: 20px;
  margin-top: 7px;
}

.musicMiddlefont{
  font-size: 13px;
}

.musicSmallfont{
  font-size: 11px;
}

.musicSmallfont.keyword {
  position: absolute;
  float: right;
  margin-right: 0px;
  margin-top: 60px;
}

.musicSmallfont.likes {
  cursor: pointer;
}

.musicSmallfont.likes:hover {
  color: palevioletred;
  transform: scale(1.1);
}

.won-Image {
  width: 26px;
  height: 26px;
}