.search-input {
  background-image: url("/images/happy.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 327px;
  height: 500px;
}


.list-group.autocomplete {
  z-index: 99;
  position: absolute;
  overflow-y: auto;
  margin-bottom: 0;
  display: block;
  max-height: 245px;
}

.list-group.autocomplete a {
  padding-right: 100px;
  cursor: pointer;
}

.my-search-ment {
  color: #FFF;
  text-shadow: 0 1px 8px rgba(0,0,0,0.4);
}

