.jumbotron {
  margin-top: 50px;
  height: 500px;
  background-color: powderblue;
  padding: 150px;
  color: white;
}

.my-search-sound-page {
  margin-top: 50px;
}

.my-main-page {
  margin-top: 50px;
}