.detail{
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 5px;
  float : left;
  height: 50px;
}
.cover{
  float : left;
  width :80px;
  height: 80px;
  display : block;
  
}
.wave{
  width :200px;
  height: 50px;
  display : block;
}

li{
  list-style-type: none;
}
.BestSeller{
  display: block;
  width: 430px;
  margin: auto;
}
.play{
  float: left;
  display: block;
  height: 30px;
}
.song{
  background-color: red;
  display:block;
}

.wave-padding {
  padding-top: 18px;
  padding-left: 230px;
}

